@import "tailwindcss";

::-webkit-scrollbar {          
  width: 6px;
}
::-webkit-scrollbar-thumb {
  background: #2f95fa;
  border-radius: 4px;
}
::-webkit-scrollbar-thumb:hover {
  background: #4ba3fa;
}
